<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="pakage + interface" -->
<mapper namespace="com.mp4.member.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="login" resultType="com.mp4.member.vo.LoginVO">
		select id,name,gradeNo 
		from member
		where id = #{id} and pw = #{pw}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join">
		insert into member(id,pw,name,email,tel,nickName,gradeNo)
		values (#{id},#{pw},#{name},#{email},#{tel},#{ninkName},'1')
	</insert>
	
	<!-- 아이디 중복검사 -->
	<select id="check_id" parameterType="String" resultType="int">
		select count(*) from member where id = #{id}
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="check_email" parameterType="String" resultType="int">
		select count(*) from member where email = #{email}
	</select>
	
	<!-- 연락처 중복검사 -->
	<select id="check_tel" parameterType="String" resultType="int">
		select count(*) from member where tel = #{tel}
	</select>
</mapper>