<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="pakage + interface" 동일해야 한다 -->
<mapper namespace="com.mp4.music.mapper.MusicMapper">

	<select id="list" resultType="com.mp4.music.vo.MusicVO">
		Select title, singer, album, issueDate, image, hit, url
		FROM music
	</select>
	
	<select id="view" resultType="com.mp4.music.vo.MusicVO">
		Select titlem singer, album, issueDate, image, hit, url
		FROM music
		WHERE title = #{title}
	</select>
	
	<update id="increase">
		update music set hit = hit + 1
		WHERE title = #{title}
	</update>
	
</mapper>
